.slides section .mt-5 {
  margin-top: 5px;
}
.slides section .mt-10 {
  margin-top: 10px;
}
.slides section .mt-15 {
  margin-top: 15px;
}
.slides section .mt-20 {
  margin-top: 20px;
}
.slides section .mt-40 {
  margin-top: 40px;
}
.slides section .ml-5 {
  margin-left: 5px;
}
.slides section .ml-10 {
  margin-left: 10px;
}
.slides section .ml-15 {
  margin-left: 15px;
}
.slides section .ml-20 {
  margin-left: 20px;
}
.slides section .ml-40 {
  margin-left: 40px;
}
.slides section .mb-5 {
  margin-bottom: 5px;
}
.slides section .mb-10 {
  margin-bottom: 10px;
}
.slides section .mb-15 {
  margin-bottom: 15px;
}
.slides section .mb-20 {
  margin-bottom: 20px;
}
.slides section .mb-40 {
  margin-bottom: 40px;
}
.slides section .mr-5 {
  margin-right: 5px;
}
.slides section .mr-10 {
  margin-right: 10px;
}
.slides section .mr-15 {
  margin-right: 15px;
}
.slides section .mr-20 {
  margin-right: 20px;
}
.slides section .mr-40 {
  margin-right: 40px;
}
