<% var title="云-文档",
		styles = ['/public/styles/css/docs.css']; 
%>
<% include head %>
<% include templates/header %>

<% include templates/side %>

<div class="container-fluid">
	<input type="hidden" id="cloud-url" value="<%= cloudUrl %>">
	<% include templates/banner %>
	<% include templates/upload_modal %>
	<ul class="files">
		<% include templates/file_banner %>
		<% docs.forEach(function(file,index){ %>
			<% include templates/file_item %>
		<% });%>
	</ul>	
	<div class="tip-completed">已经加载完</div>
	<div class="tip-share"></div>
</div>
<% var main='document' %>
<% include foot %>