<% var title = 'Mobile',styles=['/public/styles/css/mobile.css']; %>
<% include head %>
	<div class="connect-signal"></div>
	<div class="controls">
		<div class="left"></div>
		<div class="right"></div>
		<div class="up"></div>
		<div class="down"></div>
	</div>
<% var main='mobile' %>

<% include foot %>
