<div class="music">
	<div class="btns">
		<ul class="btn-music">
			<li><a href="javascript:void(0);" class="btn-prev">
				<i class="fa fa-step-backward"></i><span class="hidden">上一首</span>
			</a>
			</li>
			<li><a href="javascript:void(0);" class="btn-pause">
				<i class="fa fa-pause"></i>
				<span class="hidden">暂停</span>
			</a></li>
			<li><a href="javascript:void(0);" class="btn-play">
				<i class="fa fa-play"></i>
				<span class="hidden">播放</span>
			</a></li>
			<li><a href="javascript:void(0);" class="btn-next">
				<i class="fa fa-step-forward"></i>
				<span class="hidden">下一首</span>
			</a></li>
		</ul>
	</div>
	<div class="info">
		<p class="music-name text-ellipsis"></p>
		<div class="bar-progress">
			<div class="bar-played"></div>
		</div>
	</div>
	<div class="sound">
		<a href="javascript:void(0);" class="volume" data-mute="false"><i class="fa fa-volume-up"></i></a>
		<!-- <a href="javascript:void(0);" class="time">10:00</a>		 -->
		<div class="bar-sound">
			<div class="bar-sound-val"></div>
		</div>
	</div>
	<a href="javascript:void(0);" class="music-down" title="收起"><i class="fa fa-angle-down"></i></a>
</div>