<!-- <input type="hidden" id="cloud-url" value="<%= cloudUrl %>"> -->
<li class="row">
	<div class="col-md-6 col-xs-6">
		<a href="javascript:void(0)">
			文件名
		</a>
	</div>
	<div class="col-md-3 col-xs-3">
		<a href="javascript:void(0)">
			文件大小
		</a>
	</div>
	<div class="col-md-3 col-xs-3">
		<a href="javascript:void(0)">
			修改时间
		</a>
	</div>
</li>