<div class="wrapper">
    <a href="javascript:void(0);" class="wrapper-close"><i class="fa fa-times fa-4x"></i></a>
    <div id="viewer" class="viewer iviewer_cursor">
        <div class="controll-right"></div>
        <div class="controll-left"></div>
    </div>
    <% include spinner %>
    <!-- <div class="zoom"></div> -->
    <div class="thumb-wrap">
        <a class="thumbnail-toggle" href="javascript:void(0);"></a>
        <%# 插入thumbnails %>
    </div>
</div>
