<section>
	<div class="segments">
		<ul>
			<li><a class="router" href="/home/all" data-type="all">所有分享</a></li>
			<li><a class="router" href="/home/images" data-type="images">图片</a></li>
			<li><a class="router" href="/home/docs" data-type="docs">文档</a></li>
			<li><a class="router" href="/home/audios" data-type="audios">音乐</a></li>
			<li><a class="router" href="/home/vedios" data-type="vedios">视频</a></li>
			<li><a class="router" href="/home/others" data-type="others">其他</a></li>
		</ul>
	</div>
</section>